<!doctype html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale = 1.0">
        <title>OSSP_reservation</title>
    </head>
    <body>
   
        <form action = "/submit" method = "POST">
            <p>이름 : <input type = "text" name = "Name" /></p>
            <p>날짜 : <input type = "date" name = "Date" /></p>
            <p>시간 : <select>
                <option value = "time">13:00</option>
                <option value = "time">14:00</option>
                <option value = "time">15:00</option>
                <option value = "time">16:00</option>
                <option value = "time">17:00</option>
                <option value = "time">18:00</option>
                <option value = "time">19:00</option>
                <option value = "time">20:00</option>
            </select></p>
            <p>인원 : 
                <label><input type="radio" name="Number" value="1"/>1</label>
                <label><input type="radio" name="Number" value="2"/>2</label>
                <label><input type="radio" name="Number" value="3"/>3</label>
                <label><input type="radio" name="Number" value="4"/>4</label>
            </p>
            <p>요구사항 : <br> <textarea name = "" id="" cols="30" rows="10"></textarea></p>
    
            <button onclick="location.href='/submit'">SUBMIT</button>
            <button onclick="history.back();">MODIFY</button>
        </form>
      
   </body>
</html>
